{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="{% static 'js/cargasHTML.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarme</title>
</head>
<style>
    body {
        font-family: 'Roboto Condensed', sans-serif;
        background-color: #f5f1ee;
        color: black;
    }
</style>
<body>
<header>
    <div id="primera-barra" class="container-fluid ">
        <div class="row">
            <div class="col-sm-8">
                <img src="{% static 'img/brit.png' %}" alt="brit">
                <img src="static/img/acana1.png" alt="acana">
                <img src="static/img/granplus1.png" alt="granplus">
                <img src="static/img/biljac.png" alt="biljac">
                <img src="static/img/royalcanin.png" alt="royalcanin">
                <img src="static/img/nutragold.png">
                <img src="static/img/biofresh.png" alt="biofresh">
                <img src="static/img/vetlife.jpg" alt="vetlife">
                <img src="static/img/logo-hill.svg" alt="hill's">
            </div>
            <div class="col-sm-4">
                <ul class="nav">
                    <li class="nav-item">
                        {% comment %} <button onclick="cargarHTML('login')" class="nav-link"> {% endcomment %}
                        <a href="#">
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <img src="{% static 'img/usuario.jpg' %}" alt="usuario" style="height: 20px; margin-top:10px;"
                                        class="rounded-pill">
                                </li>
                                <a class="nav-link" href="" style="height: 20px; padding-left:0;">{{ user.username }}</a>
                            {% else %}
                                <a href="{% url 'login' %}" class="nav-link">login</a>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'registro' %}" class="nav-link" style="height: 20px; padding-left:0;">Registrarme</a></button>
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                                {% if user_admin %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'mantenedor' %}" style="height: 20px; padding-left:0;">Mantenedor</a>
                                    </li>
                                {% else %}
                                {% endif %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'logout' %}" style="height: 20px; padding-left:0;">Cerrar Sesion</a>
                                    </li>
                        {% else %}
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="navegador" class="navbar navbar-expand-sm  justify-content-center">
        <div class="container-fluid">
            <button onclick="cargarHTML('index')" class="nav-link" >
                <a>
                    <img src="static/img/petslife-logo.svg" alt="pagina Logo1">
                </a>
            </button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-start" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <button onclick="cargarHTML('index')" class="nav-link"><a>Inicio</a></button>
                    </li>
                    <li class="nav-item">
                        {% comment %} <button onclick="cargarHTML('tienda')" class="nav-link"> {% endcomment %}
                        <a href="{% url 'tienda' %}" class="nav-link">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <button onclick="cargarHTML('contacto')" class="nav-link"><a>Contacto</a></button>
                    </li>
                    <li class="nav-item">
                        <button onclick="cargarHTML('donaciones')" class="nav-link"><a>Donaciones</a></button>
                    </li>
                    <li class="nav-item">
                        <button onclick="cargarHTML('nosotros')" class="nav-link"><a>Nosotros</a></button>
                    </li>
                </ul>
            </div>
            <form style="padding-left: 5rem;" class="d-flex">
                <input class="form-control me-2" type="text" placeholder=" ">
                <button class="btn btn-secondary" type="button">Buscar</button>
            </form>
        </div>
    </div>
</header>
<form style="padding: 30px;" method="POST" class="formulario">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formUser.as_p }}
    <button id="btn_save" style="margin-right: 2rem; background-color: #00FF00; border: none; padding: 10px 20px; border-radius: 5px; font-size: 16px; color: #FFFFFF;" type="submit">Guardar</button><button style="background-color: #FF0000; padding: 10px 20px; border: none; border-radius: 5px;font-size: 16px;"><a style="text-decoration: none; color: #FFFFFF;" id="btn_exit" href="{% url 'mantenedor' %}">Cancelar</a></button>
</form>

{% comment %} <div id="contenedor_inicio" class="d-flex justify-content-center align-items-center">
    <div class="formulario-container">
        <br>
        <form action="" method="POST" class="w-100">
            {% csrf_token %}
            
            <div class="row">
                <div class="col-md-4">
                    <h2>Datos Usuario</h2>
                    <div class="form-group mb-4">
                        <label for="{{ formUser.username.id_for_label }}">Username:</label>
                        <div class="text-center">
                            {{ formUser.username }}
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label for="{{ formUser.email.id_for_label }}">Email:</label>
                        <div class="text-center">
                            {{ formUser.email }}
                        </div>             
                    </div>
                    <div class="form-group mb-4">
                        <label for="{{ formUser.password1.id_for_label }}">Contraseña:</label>
                        <div class="text-center">
                            {{ formUser.password1 }}
                        </div>                    
                    </div>
                    <div class="form-group mb-4">
                        <label for="{{ formUser.password2.id_for_label }}">Confirma Contraseña:</label>
                        <div class="text-center">
                            {{ formUser.password2 }}
                        </div>           
                    </div>
                </div>
                <div class="col-md-4">
                    <h2>Datos Personales</h2>
                    <div class="form-group mb-4">
                        <label for="{{ form.rut.id_for_label }}">Rut:</label>
                        <div class="text-center">
                            {{ form.rut }}
                        </div>    
                    </div>
                    <div class="form-group mb-4">
                        <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
                        <div class="text-center">
                            {{ form.nombre }}
                        </div>  
                    </div>
                    <div class="form-group mb-4">
                        <label for="{{ form.apellido_paterno.id_for_label }}">Apellido paterno:</label>
                        <div class="text-center">
                            {{ form.apellido_paterno }}
                        </div>                 
                    </div>
                    <div class="form-group mb-4">
                        <label for="{{ form.apellido_materno.id_for_label }}">Apellido materno:</label>
                        <div class="text-center">
                            {{ form.apellido_materno }}
                        </div>              
                    </div>
                    <div class="form-group mb-4">
                        <label for="{{ form.fecha_nacimiento.id_for_label }}">Fecha de nacimiento:</label>
                        <div class="text-center">
                            {{ form.fecha_nacimiento }}
                            <small>Formato: dd-mm-aaaa</small>
                        </div>      
                    </div>
                </div>
                <div class="col-md-4">
                    <h2>Información adicional</h2>
                    <div class="form-group mb-4">
                        <label for="{{ form.id_genero.id_for_label }}">Id genero:</label>
                        <div class="text-center">
                            {{ form.id_genero }} 
                        </div>                     
                    </div>
                    <div class="form-group mb-4">
                        <label for="{{ form.telefono.id_for_label }}">Teléfono:</label>
                    <div class="text-center">
                        {{ form.telefono }}
                    </div>       
            </div>
            <div class="form-group mb-4">
                <label for="{{ form.direccion.id_for_label }}">Dirección:</label>
            <div class="text-center">
                {{ form.telefono }}
                </div>
                </div>
                </div>
                </div>
            
            <input type="submit" class="btn btn-primary mx-auto d-block" value="Guardar">
        </form>
    </div>    
</div> {% endcomment %}
<div id="contenido">

</div>

<footer class=" footer">
    <div class="container p-4">
        <div class="row my-4">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 w3-justify ">

                <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                    style="width: 150px; height: 150px;">
                    <img src="static/img/PetsLife1.png" height="150" alt="logo"
                        loading="lazy"/>
                </div>

                <p class="text-center">Nuestras Redes Sociales</p>
                <br>
                <div class=" shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-autocenter-text">
                    <i class="fa fa-facebook-official w3-hover-opacity w3-xlarge"></i>
                    <i class="fa fa-instagram w3-hover-opacity w3-xlarge"></i>
                    <i class="fa fa-snapchat w3-hover-opacity w3-xlarge"></i>
                    <i class="fa fa-pinterest-p w3-hover-opacity w3-xlarge"></i>
                    <i class="fa fa-twitter w3-hover-opacity w3-xlarge"></i>
                    <i class="fa fa-linkedin w3-hover-opacity w3-xlarge"></i>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">ANIMALES</h5>

                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#" class="text-white"><i class="fas fa-paw pe-3"></i>Perros</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-white"><i class="fas fa-paw pe-3"></i>Gatos</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">NOSOTROS</h5>

                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="#" class="text-white"><i class="fas fa-paw pe-3"></i>Informacion General</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-white"><i class="fas fa-paw pe-3"></i>Sobre Nosotros</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-white"><i class="fas fa-paw pe-3"></i>Datos</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-white"><i class="fas fa-paw pe-3"></i>Trabajos</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-white"><i class="fas fa-paw pe-3"></i>Tendencia</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-white"><i class="fas fa-paw pe-3"></i>Contacto</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 w3-justify s4">
                <h5 class="text-uppercase mb-4">CONTACTOS</h5>

                <ul class="list-unstyled">
                    <li>
                        <p><i class="fa fa-fw fa-map-marker fa-lg"></i>San Miguel, Novena, Chile</p>
                    </li>
                    <li>
                        <p><i class="fa fa-fw fa-phone fa-lg"></i>+ 56 9 4567 6783</p>
                    </li>
                    <li>
                        <p><i class="fa fa-fw fa-envelope fa-lg"></i>PetsLife@petslife.com</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-white" href="#">PetsLife.com</a>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
crossorigin="anonymous"></script>
<script crossorigin="anonymous" src="https://kit.fontawesome.com/f92816fa7c.js"></script>
</body>
</html>