{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarme</title>
</head>
<body>
    <h1>Registrarse</h1>
    <br>
    <form action="" method="POST">
        {% csrf_token %}

        <pre>Rut: <input type="text" name="rut"></pre>
        <pre>Nombre: <input type="text" name="nombre"></pre>
        <pre>Apellido P.: <input type="text" name="paterno"></pre>
        <pre>Apellido M.: <input type="text" name="materno"></pre>
        <pre>Fecha Naci.: <input type="text" name="fechaNac"></pre>
        <pre>Genero: <select name="genero">
            {% for genero in genero %}
                <option value="{{genero.id_genero}}">{{genero.genero}}</option>
            {% endfor %}
        </select>
        </pre>
        <pre>Celular: <input type="text" name="telefono"></pre>
        <pre>Email: <input type="mail" name="email"></pre>
        <pre>Direccion: <input type="text" name="direccion"></pre>
        <input type="submit" value="Agregar">
    </form>  
    <br>
    <div id="idMensajes">
        {% if mensaje %}
        {{mensaje}}
        {% endif %}
    </div>
</body>
</html>